# Virtualenv local
venv/
.venv_wsl/

# Caches Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de ambiente
.env
*.sqlite3

# Git
.git/
.gitignore

# Sistema/IDE
.DS_Store
.idea/
.vscode/

# Node.js (se tiver)
node_modules/

# Build/output
dist/
build/

# legacy archive
archive/
