# Django
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=change-me-please
ALLOWED_HOSTS=*

# DB
POSTGRES_DB=aprender_db
POSTGRES_USER=aprender_user
POSTGRES_PASSWORD=aprender_pass

# TZ
TZ=America/Fortaleza

# Run mode (dev=runserver, prod=gunicorn)
RUN_MODE=dev

# Ingest API (se usar Makefile de ingest)
API_TOKEN=changemeapitoken
API_BASE=http://localhost:8000
